.screen-container {
  display: flex;
  position: relative;
  height: 100vh; 
}

.sidebar-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
}

.second-screen-h1 {
  text-align: center;
}

@media screen and (min-width: 1161px) {
  .sidebar-content.collapsed {
    margin-left: 70px; 
  }

  .sidebar-content {
    margin-left: 250px; 
  }
}

@media screen and (max-width: 1160px) {
  .sidebar-content {
    margin-left: 70px;
  }
}

@media screen and (max-width: 420px) {
  .sidebar-content {
    margin-left: 0; 
  }
}
