.screen-container {
  display: flex;
  position: relative;
  z-index: 0; 
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: 100vh; 
}

.second-screen-h1 {
  text-align: center;
}

@media screen and (max-width: 1160px) {
  .main-content {
    margin-left: 80px; 
  }
}

@media screen and (min-width: 1161px) {
  /* .main-content {
    margin-left: 250px;
  } */
}
