.screen-container {
  display: flex;
  position: relative;
  height: 100vh; 
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: 100vh;
}

.second-screen-h1 {
  text-align: center;
}

@media screen and (max-width: 1160px) {
  .sidebar.collapsed + .main-content {
    margin-left: 50px; 
  }
}

@media screen and (min-width: 1161px) {
  .sidebar + .main-content {
    margin-left: 300px;
  }
}
