.sidebar {
  position: relative;
  width: 250px;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #000105 9.43%, #0a2d40 99.97%);
  transition: 0.3s;
  padding: 24px;
  border-radius: 0px 40px 40px 0px;
  box-shadow: 3px 0px 16px rgba(0, 0, 0, 0.369);
}

.sidebar.collapsed {
  width: 32px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logo-section,
.logo-section .logo-text {
  display: flex;
  align-items: center;
}

.logo-section .logo-text-expanded {
  font-weight: 300;
  font-size: 32px;
  font-family: var(--accent-font);
  color: var(--main-white);
}
.logo-section .logo-text-collapsed {
  font-weight: 300;
  font-size: 32px;
  margin-left: -8px;
  letter-spacing: 0.3em;
  font-family: var(--accent-font);
  color: var(--main-white);
}


.toggle {
  position: absolute;
  top: 40px;
  right: -20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.6 s ease-in-out;
  z-index: 10;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin-top: 60px;
}

.menu-links li {
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 12px 0;
  color: var(--main-white);
  cursor: pointer;
  text-transform: uppercase;
  transition: all ease-in-out 300ms;
}
.menu-links li:hover {
  transform: scaleX(1.07);
  color: aquamarine;
}

.menu-links li .menu-icon {
  width: 18px;
  height: 18px;
  margin-right: 24px;
}

.sidebar.collapsed .toggle {
  transform: rotate(180deg);
}

@media only screen and (max-width: 420px) {
  .sidebar {
    padding: 8px;
    height: auto; 
    overflow: visible;
  }
 
  .sidebar.collapsed {
    width: 24px;
  }
  .sidebar.collapsed .logo-section {
    display: none;
  }
  .menu-links {
     margin-top: 80px;
  }
    .logo-section .logo-text {
    display: none; 
  }
  
}
